.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.h3 {
    color: #403531;
    font-family: Geologica, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
    margin: 0;
    font-size: 40px;
}

.p {
    color: #484848;
    font-family: Geologica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    font-size: 16px;
}

.blok {
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
}

@media screen and (min-width: 1176px) {
    .container {
        height: 680px;
        padding: 0 64px;
        align-self: stretch;
    }

    .blok {
        min-width: 400px;
        max-width: 600px;
    }

    .h3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1175px) {
    .container {
        padding: 80px 40px;
        flex-direction: column;
    }

    .blok {
        min-width: 400px;
        max-width: 600px;
    }

    .h3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 56px 16px;
    }

    .img {
        height: 245px;
    }

    .h3 {
        font-size: 24px;
    }

    .p {
        font-size: 10px;
    }

    .blok {
        min-width: 100px;
        max-width: 400px;
    }
}
