@media screen and (min-width: 675px) {
    .header_logo {
        padding: 15px 0;
        max-width: 55px;
        max-height: 60px;
    }

    .header_header {
        height: 64px;
    }
}

@media screen and (max-width: 675px) {
    .header_container {
        display: none;
        opacity: 0;
    }

    .header_whatsapp {
        display: none;
    }

    .header_logo {
        max-height: 39px;
        padding: 5px 0;
    }

    .header_header {
        height: 43px;
    }
}

.header_header {
    background-color: #110f0f;
    border-color: #110f0f;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_number {
    color: #fff;
    font-family: Geologica, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

.header_timevisit {
    color: #fff;
    font-family: Geologica, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 0;
}

.header_container_medium {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    padding: 0 24px 0 16px;
    box-sizing: border-box;
}

.header_container {
    display: flex;
    align-items: center;
}

.header_container_small {
    display: flex;
    flex-direction: column;
}

.header_telegram {
    max-width: 48px;
    min-width: 48px;
}

.header_whatsapp {
    max-width: 48px;
    min-width: 48px;
}
